.review-table{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;

    overflow-y: scroll;
    height: 58.5vh;

    

}

.review-table::-webkit-scrollbar {
    display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

th{
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-weight: 800;
    color: #047BD5;

}

.heading{
    white-space: nowrap;
}


th:hover {
    cursor: pointer;
}

td{
    text-align: left;
    padding: 10px;
    font-weight: 400;
  }
  
  tr:nth-child(even) {
    background-color: hsl(205, 52%, 94%);
  }

.paginator{
    
    color: white;
    padding: 20px;
    display: flex;
    justify-content:center;
    gap: 10px;

}


.pageIcon{
    margin-top: 15px;
}

.current{
    background-color:rgb(49, 47, 47);
    border-radius:45%;
}

.start{
    display:none;
}

.end{
    display:none;
}

.page {
    padding: 5px;
    cursor: pointer;
}